<div class="container">
    <h1>{{category}}</h1>
    <div class="row" ng-repeat="blog in data" style="margin-top: 20px;">
        <div class="col-md-12">
            <div>
                <div class="blog-heading">
                    {{blog.blogTitle}}
                </div>
                {{blog.blogDescription}}
                <button style="background-color: black;color: white; margin-left: 20px;" class="btn btn-primary btn-xs" ng-click="gotoBlog(blog)">Read More..</button>
            </div>
        </div>
    </div>
</div>
