<div class="row mt">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-md">
                    <input type="text" class="form-control input-md" placeholder="paste product url..." ng-model="url">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-md" ng-click="scan()">Scan <i class="fa fa-refresh fa-spin" ng-show="spinner"></i></button>
                     </span>
                </div>
            </div>
        </div>
    </div><!-- col-lg-12-->
</div><!-- /row -->