<div class="row mt" style="font-family: 'K2D', sans-serif;">
    <div class="col-md-12" style="color: white;text-align: center">
        <img src="assets/img/amazon.png"/>
        <p style="font-size: 3em;">Review the product closely</p>
    </div>
    <div class="col-lg-12 mt">
        <div class="input-group input-group-md">
            <input upload type="text" id="productUrlTxt" class="form-control input-lg" placeholder="Paste/Drag any Amazon Url/Image here..." ng-model="url">
            <span class="input-group-btn">
                        <button id="scanBtn" class="btn btn-primary btn-lg black-white-color" ng-click="scan()">Scan <i class="fa fa-refresh fa-spin" ng-show="spinner"></i></button>
                     </span>
        </div>
    </div>
    <div class="col-lg-12 mt">
        <ul style="font-size: 2em;color:white;">
            <li style="list-style-type: square;">Review scan shows the top pair of words used in the comments.</li>
            <li style="list-style-type: square;">It helps in understanding the authenticity of the comments.</li>
            <li style="list-style-type: square;">It gives an idea of the sentiments of product consumers.</li>
        </ul>
    </div>
</div>