<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Overall Ratings</th>
                        <th>Total Reviews</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.prodName}}</td>
                        <td>{{row.starRatings}}</td>
                        <td>{{row.totalReviewCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--<img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="" ng-if="!showWordCloud">-->
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div id="wordsCloud" class="img-fluid">
                            <word-cloud words="words" width="width" height="height" padding="5"
                                        rotate="rotate" use-tooltip="useTooltip" random="random"
                                        use-transition="useTransition" on-click="wordClicked">
                            </word-cloud>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="chartData" chart-labels="labels" chart-colors="chartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <table search-watch-model="query" st-table="reviewCollectionDisplay" st-safe-src="reviewCollection" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td><button ng-click="resetFilter();" type="button" class="btn btn-round btn-primary pull-right">Reset</button></td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr ng-repeat="row in reviewCollectionDisplay">
                        <td>{{row.title}}</td>
                        <td>{{row.comment}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>